services:
  app:
    image: d_n:24
    environment:
      NODE_PATH: "/tmp/node_modules"
      SAM_CLI_TELEMETRY: 0
      SST_TELEMETRY_DISABLED: 1
      CLAUDE_CONFIG_DIR: /root/.claude
    volumes:
      - type: bind
        source: "${FOLDER}"
        target: /app
      - type: bind
        source: "$HOME/Downloads"
        target: /data
      # - type: bind
      #   source: "${HOME}/.aws"
      #   target: /root/.aws
      #   read_only: true
      - type: bind
        source: ./volume/vscode-server
        target: /root/.vscode-server
      - type: bind
        source: ./volume/.claude
        target: /root/.claude
      - /var/run/docker.sock:/var/run/docker.sock
    tty: true
    entrypoint: /bin/bash
    #ports:
      #- "3000:3000"
      #- "5555:5555"

include:
  - path: ../agent_toolkit/docker-compose.yml
    env_file: .env